<link rel="stylesheet" href="{{ url_for('static', path='/card.css') }}">

<center>
<div class="card-grid-space">
    <div class="num">{{obj.id}}</div>
    <a class="card" href="/details/{{obj.id}}" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500)">
      <div>
        <h1>{{obj.title[:25]}}</h1>
        <p>{{obj.body[:60]}} ....</p>
        <div class="date">{{obj.date_posted}}</div>
        <div class="tags">
          <div class="tag">{{user.username}}</div>
        </div>
      </div>
    </a>
  </div>
    </center>