.separator {
  width: 30%;
}


.card {
  font-family: 'Heebo';
  background: #1B1B25;
  font-size: 1em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  width: 70%;
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}
.card .tags {
  display: flex;
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
}

.title {
  margin-top: 50px;
  margin-bottom: 10px;

  a {
    color: #DB4D57;

    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }

  hr {
    width: 75%;
  }
}
  p {
    font-size: 1.2rem;
    letter-spacing: .1rem;
  }
}