{% extends "base.html" %}

{% block css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Icon -->
    <link href="{{ url_for('static', path='/fonts/material-icon/css/material-design-iconic-font.min.css') }}" rel="stylesheet">

    <!-- Main css -->
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    {% endblock %}

{% block content %}
<div class="main">
<section class="signup">
  <div class="container">
    <div class="signup-content">
      <div class="text-danger font-weight-bold">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </div>
      <form method="POST" class="signup-form">
        <h2 class="form-title">poster un article</h2>
        <div class="mb-3">
          <input type="text" required class="form-control" name="title" value="{{title}}" placeholder="titre de l'article">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Contenu</label>
          <textarea class="form-control" required name="contenu" id="exampleFormControlTextarea1" rows="10">{{body}}</textarea>
          <div id="help" class="form-text"></div>

        </div>
        <button style="margin-top:10px" type="submit" class="btn btn-primary">Submit</button>
      </form>

  </div>
  </div>
  </section>
</div>
  {% endblock %}