{% extends "base.html" %}


{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', path='/detail.css') }}">
{% endblock %}

{% block content %}


  <div class="container">
    <div class="card">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="title text-center">
          <h1>{{article.title}}</h1>
          <div class="tag">{{user.username}}</div>
          <h5>{{article.date_posted}}</h5>
          <hr />
        </div>
        <div>
          <p>{{article.body}}</p>
        </div>
    </div>
    </div>
    </div>
  </div>

{% endblock %}