    {% extends "base.html" %}
    {% block inscription %}Active{% endblock %}
    {% block css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Icon -->
    <link href="{{ url_for('static', path='/fonts/material-icon/css/material-design-iconic-font.min.css') }}" rel="stylesheet">

    <!-- Main css -->
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    {% endblock %}

    {% block title %}
    <title>Inscription Junior</title>
    {% endblock %}

    {% block content %}
    <div class="main">

        <section class="signup">

            <div class="container">
                <div class="signup-content">
                    <div class="text-danger font-weight-bold">
                      {% for error in errors %}
                        <li>{{error}}</li>
                      {% endfor %}
                    </div>
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Creation du compte</h2>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" value="{{email}}" placeholder="Votre adresse mail"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" value="{{password}}" placeholder="Mot de passe"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" value="{{password}}" placeholder="Validation du mot de passe"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>J'ai lu et accepte   <a href="/items" class="term-service">les conditions générales</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Inscription"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Vous possédez déjà un compte ? <a href="/connexion" class="loginhere-link">Connectez-vous</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
    {% endblock %}
    {% block script %}
    <!-- JS -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
    {% endblock %}
