{% extends "base.html" %}

{% block css %}

<link href="{{ url_for('static', path='/profil.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->
                     <div class="profile-header-img" style="z-index:0">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">{{user.username}} id: {{user.id}}</h4>
                        <p class="m-b-10">{{user.email}}</p>
                        <a href="/logout" class="btn btn-sm btn-info mb-2">Deconnexion</a>
                        <a href="/post_article" class="btn btn-sm btn-info mb-2">Poster un nouvel article</a>
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab -->
                  <ul class="profile-header-tab nav nav-tabs">
                     <H1 style="text-align:center">Article(s) posté(s)</H1>
                  </ul>
                  <!-- END profile-header-tab -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-post tab -->

                     {% for article in articles %}
                     <!-- begin timeline -->
                     <ul class="timeline">
                        <li>
                           <!-- begin timeline-time -->
                           <div class="timeline-time">
                              <span class="date">{{article.date_posted}}</span>
                           </div>
                           <!-- end timeline-time -->
                           <!-- begin timeline-icon -->
                           <div class="timeline-icon">
                              <a href="javascript:;">&nbsp;</a>
                           </div>
                           <!-- end timeline-icon -->
                           <!-- begin timeline-body -->
                           <div class="timeline-body">
                              <div class="timeline-header">
                                 <span class="username"><a href="javascript:;">{{article.title}}</a> <small></small></span>
                                 <span class="pull-right text-muted">{{article.writer_id}}</span>
                              </div>
                              <div class="timeline-content">
                                 <p>
                                    {{article.body}}
                                 </p>
                              </div>
                              <a href="/update_article/{{article.id}}" class="btn btn-primary">modifier</a>
                              <a onclick="delete_article({{article.id}})" href="javascript:window.location.reload()" class="btn btn-danger btn-sm">Supprimer</a>
                           </div>
                           <!-- end timeline-body -->
                        </li>
                     </ul>
                     <!-- end timeline -->
                     {% endfor %}

                  <!-- end #profile-post tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    function delete_article(id){
        fetch('/articles/delete/'+id,{
        method:'DELETE',})
        .then(response => response.json())
        .then(document.getElementById('result').innerHTML = "Refreshing...")
        .then(data => document.getElementById('result').innerHTML = data.detail);

    }
</script>
{% endblock %}